<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>SpringBoot with Scala 3</title>
</head>
<body>
<h2>SpringBoot and Scala 3 share a same message</h2>
<ul>
    <li>SpringBoot shouts out: <em>{{ message }}</em></li>
    <li>Scala.js shouts out: <em id="scalajsShoutOut"></em></li>
</ul>
<script src="/client-fastopt/main.js"></script>
</body>
</html>
